.headerHolder {
  background-color: #fff;
  height: 56px;
  display: flex;
  justify-content: space-between;

  padding-inline: 28px;
  .logo {
    width: 120px;
  }
  .icon_holder {
    display: flex;
    align-items: center;
    gap: 20px;
    span {
      gap: 10px;
      color: #1d1e3a;
      font-size: 13px;
    }
  }
}
