.main {
  display: flex;
  .sidebar {
    background-color: #1d1e3a;

    ul {
      margin-top: 52px;
      position: sticky;
      top: 20px;
      width: 80px;
      height: 100vh;
      padding-left: 0px;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
  }
}
